* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }

  .zoom {
    border: none !important;
  }
  .zoom img{
    height: 300px;
    transition:.5s;
  }
  
  .zoom:hover img{
    transform: scale(1.1);
  }
